# Listas

<span style="color: red;"><b>Todos os exercícios são feitos partindo-se do pressuposto de que todas as entradas são dadas de forma correta. Casos limite não mencionados no enunciado não são abordados porque não fazem parte do exercício.</b></span>

#### 1. Faça um Programa que leia as vendas dos vendedores, mostre a venda de cada vendedor com o seu nome e a média de vendas.

In [1]:
vendas = [1000, 1500, 1200, 1300]
vendedores = ["Fulano", "Beltrano", "Ciclano", "Lira"]

for i in range (len(vendas)):
    
    print('Vendedor: {} Vendeu: {}'.format(vendedores[i], vendas[i]))

media = sum(vendas)/len(vendedores)
print('Média: ',media)

Vendedor: Fulano Vendeu: 1000
Vendedor: Beltrano Vendeu: 1500
Vendedor: Ciclano Vendeu: 1200
Vendedor: Lira Vendeu: 1300
Média:  1250.0

#### 2. Faça um Programa que crie uma lista com as médias de cada aluno, imprima as médias de cada aluno e a quantidade de alunos com média maior que 7.

In [2]:
alunos = ["José", "Joana", "Maria", "Carla", "Mauricio", "Andre", "Tiago", "Enzo", "Amanda", "Alessandra"]
notas = [
    [10, 9, 8, 8],
    [9, 7, 6, 4],
    [10, 10, 10, 10],
    [5, 3, 10, 9],
    [7, 6, 6, 6],
    [7, 7, 8, 7],
    [7, 7, 7, 9],
    [8, 5, 6, 7],
    [10, 9, 7, 4],
    [10, 1, 3, 3],
]
# Media de cada aluno
media_maior = 0 
for i, nota in enumerate(notas):
   
    media_aluno = sum(nota)/len(nota)
    print('{} - Média: {}'.format(alunos[i], media_aluno))
    if media_aluno >= 7:
        media_maior += 1

print('\n')

# Quantidade de alunos e médias maiores que 7
print('{} alunos tiveram notas maiores que 7'.format(media_maior))

José - Média: 8.75
Joana - Média: 6.5
Maria - Média: 10.0
Carla - Média: 6.75
Mauricio - Média: 6.25
Andre - Média: 7.25
Tiago - Média: 7.5
Enzo - Média: 6.5
Amanda - Média: 7.5
Alessandra - Média: 4.25


5 alunos tiveram notas maiores que 7

#### 3. Foram anotadas as idades e salários de 30 funcionários. Faça um programa que determine quantos funcionários com mais de 25 anos possuem salário inferior à média de todos os salários.

In [3]:
idades = [35,32,50,33,48,50,33,48,22,49,35,38,20,47,49,48,34,21,48,44,48,30,25,42,42,23,25,23,38,35]
salarios = [3739,2219,3554,3978,4014,3270,4792,3879,2981,2384,4826,2460,3680,4318,1872,1770,4640,3929,3295,1729,3965,4267,4007,1916,2987,2943,3852,4543,2055,1730]

# Media salarial de funcionários
media_salarial = sum(salarios)/len(salarios)

contador_baixo_salario = 0
# Verifica se funcionario tem mais de 25 anos e salário menor que a media salarial
for i in range(len(idades)):
    if idades[i] > 25 and salarios[i] < media_salarial:
            contador_baixo_salario += 1
print(f'{contador_baixo_salario} funcionarios com mais de 25 anos possuem salarios abaixo da média salarial de R$:{media_salarial}')

12 funcionarios com mais de 25 anos possuem salarios abaixo da média salarial de R$:3319.8

#### 4.Em quais meses a média de temperatura foi maior do que a média nacional?

In [4]:
meses = [
    'Janeiro',
    'Fevereiro',
    'Março',
    'Abril',
    'Maio',
    'Junho',
    'Julho',
    'Agosto',
    'Setembro',
    'Outubro',
    'Novembro',
    'Dezembro'
]

temperaturas = [30, 29, 28, 28, 25, 26, 20, 21, 19, 25, 27, 32]

# Média nacional de temperatura
temperatura_media_nacional = int(sum(temperaturas)/len(temperaturas))

print(f'Média de temperatura nacional: {temperatura_media_nacional} graus \n')

for i, temp in enumerate(temperaturas):
    if temp > temperatura_media_nacional:
        print(f'{meses[i]} a temperatura foi {temp} graus')

Média de temperatura nacional: 25 graus

Janeiro a temperatura foi 30 graus
Fevereiro a temperatura foi 29 graus
Março a temperatura foi 28 graus
Abril a temperatura foi 28 graus
Junho a temperatura foi 26 graus
Novembro a temperatura foi 27 graus
Dezembro a temperatura foi 32 graus

#### 5. As Organizações Tabajara resolveram dar um abono aos seus colaboradores em reconhecimento ao bom resultado alcançado durante o ano que passou. Para isto contratou você para desenvolver a aplicação que servirá como uma projeção de quanto será gasto com o pagamento deste abono.
<pre>Após reuniões envolvendo a diretoria executiva, a diretoria financeira e os representantes do sindicato laboral, chegou-se a seguinte forma de cálculo:
. Cada funcionário receberá o equivalente a 20% do seu salário bruto de dezembro;
. O piso do abono será de 100 reais, isto é, aqueles funcionários cujo salário for muito baixo, recebem este valor mínimo; 

Neste momento, não se deve ter nenhuma preocupação com colaboradores com tempo menor de casa, descontos, impostos ou outras particularidades. O programa deverá calcular o valor do abono concedido a cada colaborador, de acordo com a regra definida acima. Ao final, o programa deverá apresentar:</pre>
<pre>
O salário de cada funcionário, juntamente com o valor do abono;
O número total de funcionário processados;
O valor total a ser gasto com o pagamento do abono;
O número de funcionário que receberá o valor mínimo de 100 reais;
O maior valor pago como abono; A tela abaixo é um exemplo de execução do programa, apenas para fins ilustrativos.
<pre>
Projeção de Gastos com Abono
============================ 
 
Salário: 1000
Salário: 300
Salário: 500
Salário: 100
Salário: 4500
Salário: 0
 
Salário    - Abono     
R$ 1000.00 - R$  200.00
R$  300.00 - R$  100.00
R$  500.00 - R$  100.00
R$  100.00 - R$  100.00
R$ 4500.00 - R$  900.00
 
Foram processados 5 colaboradores
Total gasto com abonos: R$ 1400.00
Valor mínimo pago a 3 colaboradores
Maior valor de abono pago: R$ 900.00

In [5]:
lista_salarios = [1000, 300, 500, 200, 1500, 3000, 3400, 5000, 7000, 2000, 600, 800, 250, 1500, 20000]
abonos = []
#Cada funcionário receberá o equivalente a 20% do seu salário bruto de dezembro
# Piso do abono 100 

# Salarios de funcionários
for salario in lista_salarios:
    
    print(f'Salario: {salario}')

print('\n') # Pula Linha

print('Salário    - Abono')
# Salario e abono 
for salario in salarios:
       
        abonos.append(salario * 0.20)
        print(abonos)

Salario: 1000
Salario: 300
Salario: 500
Salario: 200
Salario: 1500
Salario: 3000
Salario: 3400
Salario: 5000
Salario: 7000
Salario: 2000
Salario: 600
Salario: 800
Salario: 250
Salario: 1500
Salario: 20000


Salário    - Abono
[747.8000000000001]
[747.8000000000001, 443.8]
[747.8000000000001, 443.8, 710.8000000000001]
[747.8000000000001, 443.8, 710.8000000000001, 795.6]
[747.8000000000001, 443.8, 710.8000000000001, 795.6, 802.8000000000001]
[747.8000000000001, 443.8, 710.8000000000001, 795.6, 802.8000000000001, 654.0]
[747.8000000000001, 443.8, 710.8000000000001, 795.6, 802.8000000000001, 654.0, 958.4000000000001]
[747.8000000000001, 443.8, 710.8000000000001, 795.6, 802.8000000000001, 654.0, 958.4000000000001, 775.8000000000001]
[747.8000000000001, 443.8, 710.8000000000001, 795.6, 802.8000000000001, 654.0, 958.4000000000001, 775.8000000000001, 596.2]
[747.8000000000001, 443.8, 710.8000000000001, 795.6, 802.8000000000001, 654.0, 958.4000000000001, 775.8000000000001, 596.2, 476.8]
[747.8000000000001, 443.8, 710.8000000000001, 795.6, 802.8000000000001, 654.0, 958.4000000000001, 775.8000000000001, 596.2, 476.8, 965.2]
[747.8000000000001, 443.8, 710.8000000000001, 795.6, 802.8000000000001, 654.0, 958.4000000000001, 775.8000000000001, 596.2, 476.8, 965.2, 492.0]
[747.8000000000001, 443.8, 710.8000000000001, 795.6, 802.8000000000001, 654.0, 958.4000000000001, 775.8000000000001, 596.2, 476.8, 965.2, 492.0, 736.0]
[747.8000000000001, 443.8, 710.8000000000001, 795.6, 802.8000000000001, 654.0, 958.4000000000001, 775.8000000000001, 596.2, 476.8, 965.2, 492.0, 736.0, 863.6]
[747.8000000000001, 443.8, 710.8000000000001, 795.6, 802.8000000000001, 654.0, 958.4000000000001, 775.8000000000001, 596.2, 476.8, 965.2, 492.0, 736.0, 863.6, 374.40000000000003]
[747.8000000000001, 443.8, 710.8000000000001, 795.6, 802.8000000000001, 654.0, 958.4000000000001, 775.8000000000001, 596.2, 476.8, 965.2, 492.0, 736.0, 863.6, 374.40000000000003, 354.0]
[747.8000000000001, 443.8, 710.8000000000001, 795.6, 802.8000000000001, 654.0, 958.4000000000001, 775.8000000000001, 596.2, 476.8, 965.2, 492.0, 736.0, 863.6, 374.40000000000003, 354.0, 928.0]
[747.8000000000001, 443.8, 710.8000000000001, 795.6, 802.8000000000001, 654.0, 958.4000000000001, 775.8000000000001, 596.2, 476.8, 965.2, 492.0, 736.0, 863.6, 374.40000000000003, 354.0, 928.0, 785.8000000000001]
[747.8000000000001, 443.8, 710.8000000000001, 795.6, 802.8000000000001, 654.0, 958.4000000000001, 775.8000000000001, 596.2, 476.8, 965.2, 492.0, 736.0, 863.6, 374.40000000000003, 354.0, 928.0, 785.8000000000001, 659.0]
[747.8000000000001, 443.8, 710.8000000000001, 795.6, 802.8000000000001, 654.0, 958.4000000000001, 775.8000000000001, 596.2, 476.8, 965.2, 492.0, 736.0, 863.6, 374.40000000000003, 354.0, 928.0, 785.8000000000001, 659.0, 345.8]
[747.8000000000001, 443.8, 710.8000000000001, 795.6, 802.8000000000001, 654.0, 958.4000000000001, 775.8000000000001, 596.2, 476.8, 965.2, 492.0, 736.0, 863.6, 374.40000000000003, 354.0, 928.0, 785.8000000000001, 659.0, 345.8, 793.0]
[747.8000000000001, 443.8, 710.8000000000001, 795.6, 802.8000000000001, 654.0, 958.4000000000001, 775.8000000000001, 596.2, 476.8, 965.2, 492.0, 736.0, 863.6, 374.40000000000003, 354.0, 928.0, 785.8000000000001, 659.0, 345.8, 793.0, 853.4000000000001]
[747.8000000000001, 443.8, 710.8000000000001, 795.6, 802.8000000000001, 654.0, 958.4000000000001, 775.8000000000001, 596.2, 476.8, 965.2, 492.0, 736.0, 863.6, 374.40000000000003, 354.0, 928.0, 785.8000000000001, 659.0, 345.8, 793.0, 853.4000000000001, 801.4000000000001]
[747.8000000000001, 443.8, 710.8000000000001, 795.6, 802.8000000000001, 654.0, 958.4000000000001, 775.8000000000001, 596.2, 476.8, 965.2, 492.0, 736.0, 863.6, 374.40000000000003, 354.0, 928.0, 785.8000000000001, 659.0, 345.8, 793.0, 853.4000000000001, 801.4000000000001, 383.20000000000005]
[747.8000000000001, 443.8, 710.8000000000001, 795.6, 802.8000000000001, 654.0, 958.4000000000001, 775.8000000000001, 596.2, 476.8, 965.2, 492.0, 736.0, 863.6, 374.40000000000003, 354.0, 928.0, 785.8000000000001, 659.0, 345.8, 793.0, 853.4000000000001, 801.4000000000001, 383.20000000000005, 597.4]
[747.8000000000001, 443.8, 710.8000000000001, 795.6, 802.8000000000001, 654.0, 958.4000000000001, 775.8000000000001, 596.2, 476.8, 965.2, 492.0, 736.0, 863.6, 374.40000000000003, 354.0, 928.0, 785.8000000000001, 659.0, 345.8, 793.0, 853.4000000000001, 801.4000000000001, 383.20000000000005, 597.4, 588.6]
[747.8000000000001, 443.8, 710.8000000000001, 795.6, 802.8000000000001, 654.0, 958.4000000000001, 775.8000000000001, 596.2, 476.8, 965.2, 492.0, 736.0, 863.6, 374.40000000000003, 354.0, 928.0, 785.8000000000001, 659.0, 345.8, 793.0, 853.4000000000001, 801.4000000000001, 383.20000000000005, 597.4, 588.6, 770.4000000000001]
[747.8000000000001, 443.8, 710.8000000000001, 795.6, 802.8000000000001, 654.0, 958.4000000000001, 775.8000000000001, 596.2, 476.8, 965.2, 492.0, 736.0, 863.6, 374.40000000000003, 354.0, 928.0, 785.8000000000001, 659.0, 345.8, 793.0, 853.4000000000001, 801.4000000000001, 383.20000000000005, 597.4, 588.6, 770.4000000000001, 908.6]
[747.8000000000001, 443.8, 710.8000000000001, 795.6, 802.8000000000001, 654.0, 958.4000000000001, 775.8000000000001, 596.2, 476.8, 965.2, 492.0, 736.0, 863.6, 374.40000000000003, 354.0, 928.0, 785.8000000000001, 659.0, 345.8, 793.0, 853.4000000000001, 801.4000000000001, 383.20000000000005, 597.4, 588.6, 770.4000000000001, 908.6, 411.0]
[747.8000000000001, 443.8, 710.8000000000001, 795.6, 802.8000000000001, 654.0, 958.4000000000001, 775.8000000000001, 596.2, 476.8, 965.2, 492.0, 736.0, 863.6, 374.40000000000003, 354.0, 928.0, 785.8000000000001, 659.0, 345.8, 793.0, 853.4000000000001, 801.4000000000001, 383.20000000000005, 597.4, 588.6, 770.4000000000001, 908.6, 411.0, 346.0]

#### 6. Faça um programa que carregue uma lista com os modelos de cinco carros (exemplo de modelos: FUSCA, GOL, VECTRA etc). Carregue uma outra lista com o consumo desses carros, isto é, quantos quilômetros cada um desses carros faz com um litro de combustível. Calcule e mostre:
<pre>
a. O modelo do carro mais econômico;
b. Quantos litros de combustível cada um dos carros cadastrados consome para percorrer uma distância de 1000 quilômetros e quanto isto custará, considerando um que a gasolina custe R$ 2,25 o litro. Abaixo segue uma tela de exemplo. O disposição das informações deve ser o mais próxima possível ao exemplo. Os dados são fictícios e podem mudar a cada execução do programa.</pre>
```
Comparativo de Consumo de Combustível

Veículo 1
Nome: fusca
Km por litro: 7
Veículo 2
Nome: gol
Km por litro: 10
Veículo 3
Nome: uno
Km por litro: 12.5
Veículo 4
Nome: Vectra
Km por litro: 9
Veículo 5
Nome: Peugeout
Km por litro: 14.5

Relatório Final
 1 - fusca           -    7.0 -  142.9 litros - R$ 321.43
 2 - gol             -   10.0 -  100.0 litros - R$ 225.00
 3 - uno             -   12.5 -   80.0 litros - R$ 180.00
 4 - vectra          -    9.0 -  111.1 litros - R$ 250.00
 5 - peugeout        -   14.5 -   69.0 litros - R$ 155.17
O menor consumo é do peugeout.
```

In [43]:
print('Comparativo de Consumo de Combustível \n')
veiculos = ['fusca','gol', 'uno', 'vectra', 'peugeot']
autonomias = [7, 10, 12.5, 9, 14.5]
conta_veiculo = 0
menor_consumo = []

print('Relatório Final')
for i, autonomia in enumerate(autonomias):
    
    consumo_litro = 1000 / autonomia
    consumo_dinheiro = (consumo_litro * 2.25)
    print('{} - {} - {} - {:.1f} - {:.2f}'.format(i+1, veiculos[i], autonomia, consumo_litro, consumo_dinheiro))
    
# Carro maior autonomia
maior = max(autonomias)
i = autonomias.index(maior)
print('O carro com a maior autonomia é {}'.format(veiculos[i]))

Comparativo de Consumo de Combustível

Relatório Final
1 - fusca - 7 - 142.9 - 321.43
2 - gol - 10 - 100.0 - 225.00
3 - uno - 12.5 - 80.0 - 180.00
4 - vectra - 9 - 111.1 - 250.00
5 - peugeot - 14.5 - 69.0 - 155.17
O carro com a maior autonomia é peugeot

#### 7. Uma empresa paga seus vendedores com base em comissões. O vendedor recebe \\$200 por semana mais 9 por cento de suas vendas brutas daquela semana. Por exemplo, um vendedor que teve vendas brutas de \\$3000 em uma semana recebe \\$200 mais 9 por cento de \\$3000, ou seja, um total de \\$470. Escreva um programa (usando um array de contadores) que determine quantos vendedores receberam salários nos seguintes intervalos de valores:
<pre>
$200 - $299
$300 - $399
$400 - $499
$500 - $599
$600 - $699
$700 - $799
$800 - $899
$900 - $999
$1000 em diante
</pre>

Existem várias formas de fazer. Faça primeiro da forma que parecer mais intuitiva para você.

Em seguida, caso queira um desafio:
Desafio: Crie uma forma para chegar na posição da lista a partir do salário, sem fazer vários ifs aninhados.

In [67]:
vendas = [1000, 2000, 3000, 4000, 5000, 6000, 5500, 4500, 3600]
contador = []
conta = contador[i] + 1 


for i, venda in enumerate(vendas): 
    contador = contador.append()
    pagamento = 200 + (venda * 0.09)
   
    
    if pagamento >= 200 and pagamento <= 299:
        print(pagamento)
        contador.append(c
                        onta)
    print(f'{pagamento} = {contador}')

IndexError: list index out of range